* {
    font-family: "Poppins", sans-serif;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

section{
    padding: 15px;
}

/* -------------------------------------------------------------------------- */

.pw-center-itens{
    text-align: center;
}

.pw-after-red::after{
    content: '';
    background-color: #FF5A5F;
    width: 100px;
    height: 3px;
    display: block;
    position: absolute;
}

nav.pw-bg-nav {
    background-color: #001b2e !important;
    padding-left: 15px;
}

/*TODO o meu after n funcionou dps vc me passa como faz */
nav.navbar-dark .navbar-nav .active-style>.nav-link{ 
    color: #fff;
    border-bottom: 2px solid #FF5A5F;
    padding: 8px 2px 2px 2px;
    margin-right: 5px;
}

section.home-section-brand{
    padding-top: 30px;
}

section.home-section-brand img {
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

section.home-section-blue{
    padding-top: 30px;
    background-color: #043565;
    color: #fff;
}
