/* *----------------------------- root variables ----------------------------- */

:root {
    --oxford-blue: #001b2e;
    --midnight-green: #0b3c49;
    --myrtle-green: #32746d;
    --prussian-blue: #043565;
    --tufts-blue: #3e92cc;
    --dark-sky-blue: #98c1d9;
    --orange-red: #ff5a5f;

    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;
}

/* *--------------------------- global HTML styles --------------------------- */

* {
    font-family: 'Poppins', sans-serif;
}

/* adiciona um padding nas sections, pois o padding do container fluid foi removido */
section {
    padding: 30px 15px;
}

/* *------------------------ bootstrap modified styles ----------------------- */

/* remove o padding do container-fluid para que as sections ocupem a largura máxima da tela */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* TODO: centralizar o after */

nav ul li a{
    position: relative;
}

nav ul li a::after{
    position: absolute;
    display: block;
    content: '';    
    width: 40px;
    height: 3px;
    background-color: var(--orange-red);
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms
}

nav ul li a:hover::after{
    transform: scale(1, 1);
}

nav ul li.active-style a {
    color: white;
}

nav ul li.active-style a::after {
    transform: scale(1, 1);
}

/* *------------------------------ global styles ----------------------------- */

nav.pw-bg-nav {
    background-color: var(--oxford-blue) !important;
    /* padding-left: 15px; */
}

a.pw-btn-brand {
    background-color: transparent;
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    color: var(--prussian-blue);
    width: 200px;
    font-weight: 500;
    transition: color 500ms ease;
    transition: background-color 500ms ease;
}
a.pw-btn-brand:hover {
    background-color: var(--prussian-blue);
    border: 2px solid var(--prussian-blue);
    color: white;
}

a.pw-btn-dark {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 200px;
    font-weight: 500;
    transition: color 500ms ease;
    transition: background-color 500ms ease;
}
a.pw-btn-dark:hover {
    background-color: white;
    border: 2px solid white;
    color: var(--prussian-blue);
}

/* classe genérica para centralizar os itens */
.pw-center-itens {
    text-align: center;
}
.pw-h1-after-orange-red{
    position: relative;
    margin-bottom: 30px;   
}
.pw-h1-after-orange-red::after {
    position: absolute;
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    top: 60px;
    background-color: var(--orange-red);
}

/* *---------------------------- page home styles ---------------------------- */

section.home-section-brand {
    background-color: white;
    color: var(--gray-1);
}
section.home-section-brand.home-section-formacao {
    background-image: linear-gradient(to bottom, #e0e0e0 10%, white);
    /* #E0E0E0 == --gray-5 */
}

section.home-section-brand img {
    max-height: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

section.home-section-blue {
    background-color: var(--prussian-blue);
    color: white;
}

section.home-section-blue img {
    padding-bottom: 30px;
    border-radius: 5%;
}
