/** -------------------------------------------------------------------------- */
/**                               root variables                               */
/** -------------------------------------------------------------------------- */

:root {
    --oxford-blue: #001b2e;
    --midnight-green: #0b3c49;
    --myrtle-green: #32746d;
    --prussian-blue: #043565;
    --tufts-blue: #3e92cc;
    --dark-sky-blue: #98c1d9;
    --orange-red: #ff5a5f;

    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;

    --shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    --shadow-2: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

/** -------------------------------------------------------------------------- */
/**                                media querys                                */
/** -------------------------------------------------------------------------- */

html{
    font-size: 16px;
    transition: all ease 500ms;
}

@media (max-width: 600px){
    html{
        font-size: 14px;
        transition: all ease 500ms;
    }
}

/** -------------------------------------------------------------------------- */
/**                             global HTML styles                             */
/** -------------------------------------------------------------------------- */

* {
    font-family: 'Poppins', 'Verdana', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 2em;
}

section img {
    margin: 0.5em 0.5em 1em 0.5em;
}

/** -------------------------------------------------------------------------- */
/**                          bootstrap modified styles                         */
/** -------------------------------------------------------------------------- */

.nav-link {
    display: inline-block;
}

.bg-dark {
    background-color: var(--oxford-blue) !important;
}

/** -------------------------------------------------------------------------- */
/**                                   navbar                                   */
/** -------------------------------------------------------------------------- */

nav li {
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
}

nav li a {
    position: relative;
    padding: 0 !important;
}

nav ul li a::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1.5em;
    width: 0%;
    height: 2px;
    background-color: var(--orange-red);
    transition: all ease-in-out 250ms;
}

nav li a:hover,
nav li a:focus,
.pw-nav-link-active {
    color: white !important;
}

nav li a:hover,
nav li a:focus{
    transform: scale(1.1);
}

nav ul li a:hover::after,
nav ul li a:focus::after,
.pw-nav-link-active::after {
    width: 100%;
}

/** -------------------------------------------------------------------------- */
/**                                global styles                               */
/** -------------------------------------------------------------------------- */

/* -------------------------------- btn brand ------------------------------- */

.pw-btn-brand {
    background-color: transparent;
    width: 12rem;
    color: var(--prussian-blue);
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    font-weight: 500;
    transition: all ease 500ms;
}

.pw-btn-brand:hover,
.pw-btn-brand:focus {
    color: white;
    background-color: var(--prussian-blue);
    border: 2px solid var(--prussian-blue);
}

/* -------------------------------- btn dark -------------------------------- */

.pw-btn-dark {
    background-color: transparent;
    width: 12rem;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 500;
    transition: all ease 500ms;
}

.pw-btn-dark:hover,
.pw-btn-dark:focus {
    color: var(--prussian-blue);
    background-color: white;
    border: 2px solid white;
}

/* ------------------------------- btn shadow ------------------------------- */
.pw-btn-shadow {
    background-color: transparent;
    width: 14rem;
    color: var(--prussian-blue);
    border-radius: 25px;
    box-shadow: var(--shadow-2);
    font-weight: 500;
    transition: all ease 500ms;
}

.pw-btn-shadow:hover,
.pw-btn-shadow:focus {
   transform: scale(1.1);
   color: var(--prussian-blue);
}

/* ---------------- classe genérica para centralizar os itens --------------- */

.pw-center-itens {
    text-align: center;
}

/* ------------- classe genérica para border-radius das imagens ------------- */

.pw-img-border{
    border-radius: 15px;
}

/* ----------------- classe genérica para sombra das imagens ---------------- */

.pw-img-shadow{
    box-shadow: var(--shadow);
}

/* ------------------------- linha embaixo dos h1's ------------------------- */

.pw-h1-after {
    position: relative;
    margin-bottom: 1em;
}

.pw-h1-after::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5em;
    width: 6rem;
    height: 3px;
}

.pw-h1-after-orange-red::after {
    background-color: var(--orange-red);
}

.pw-h1-after-prussian-blue::after {
    background-color: var(--prussian-blue);
}

.pw-h1-after-left::after {
    left: 0;
}

.pw-h1-after-center::after {
    left: calc(50% - 3rem);
}

/* ------------------------------ section-brand ----------------------------- */

.pw-section-brand {
    background-color: white;
    color: var(--gray-1);
}

/* ------------------------------ section-blue ------------------------------ */

.pw-section-blue {
    background-color: var(--prussian-blue);
    color: white;
}

/** -------------------------------------------------------------------------- */
/**                              page home styles                              */
/** -------------------------------------------------------------------------- */

/* ---------------------------- section-formação ---------------------------- */

.home-section-formacao {
    background-image: linear-gradient(to bottom, var(--gray-4), white 50%, white);
}

.home-section-formacao img {
    width: 70%;
    max-width: 15rem;
    border-radius: 50%;
}

/* ---------------------------- section-projetos ---------------------------- */

.home-section-projetos img{
    width: 100%;
    max-width: 17.5rem;
}

/* -------------------------- section-curiosidades -------------------------- */

.home-section-curiosidades img{
    width: 90%;
    max-width: 17.5rem;
}

.home-col-card-shadow {
    padding: 1em;
    margin: 1.5em 0.5em;
    border-radius: 15px;
    box-shadow: var(--shadow-2);
}

/* ----------------------------- section-contato ---------------------------- */

.home-section-contato img {
    clip-path: polygon(0 17%, 100% 3%, 63% 100%, 0 95%);
    width: 100%;
    max-width: 17.5rem;
}

.home-section-contato .section-contato-icon {
    color: white;
}

.home-section-contato .section-contato-icon:hover,
.home-section-contato .section-contato-icon:focus {
    color: var(--orange-red);
    text-decoration: none;
}

.home-section-contato i {
    font-size: 2em;
    margin-right: 0.5em;
}

.home-section-contato span {
    margin-right: 1em;
}

/** -------------------------------------------------------------------------- */
/**                            page formação styles                            */
/** -------------------------------------------------------------------------- */

/* -------------------------- section curso técnico ------------------------- */
.formacao-section-curso img{
    width: 100%;
    max-width: 17.5rem;
}

.formacao-section-curso p i,
.formacao-section-curso p a{
    vertical-align: -25%;
}

.formacao-section-curso i{
    color: var(--prussian-blue);
}

.formacao-section-curso i{
    float: left;
}
