* {
    font-family: "Poppins", sans-serif;
}

nav.pw-bg-nav {
    background-color: #001b2e !important;
    padding-left: 15px;
}

/*TODO o meu after n funcionou dps vc me passa como faz*/
nav.navbar-dark .navbar-nav .active-style>.nav-link{ 
    color: #fff;
    border-bottom: 2px solid #FF5A5F;
    padding: 8px 2px 2px 2px;
    margin-right: 5px;
}

section.home-section-brand{
    text-align: center;
    padding-top: 30px;
}

section.home-section-brand img {
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
