/* *----------------------------- root variables ----------------------------- */

:root {
    --oxford-blue: #001b2e;
    --midnight-green: #0b3c49;
    --myrtle-green: #32746d;
    --prussian-blue: #043565;
    --tufts-blue: #3e92cc;
    --dark-sky-blue: #98c1d9;
    --orange-red: #ff5a5f;

    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;

    --shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

/* *--------------------------- global HTML styles --------------------------- */

* {
    font-family: 'Poppins', 'Verdana', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* adiciona um padding nas sections, pois o padding do container fluid foi removido */
section {
    padding: 2em;
}

/* *------------------------ bootstrap modified styles ----------------------- */

/* remove o padding do container-fluid para que as sections ocupem a largura máxima da tela */
.container-fluid {
    padding: 0;
}

.nav-link {
    display: inline-block;
}

.bg-dark {
    background-color: var(--oxford-blue) !important;
}

/* *--------------------------------- navbar --------------------------------- */

nav ul {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
}

nav li {
    font-size: 1rem;
    padding: 0.5em;
    text-align: center;
}

nav li a {
    position: relative;
    padding: 0 !important;
}

nav ul li a::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1.5em;
    width: 0%;
    height: 2px;
    background-color: var(--orange-red);
    transition: all ease-in-out 250ms;
}

nav li a:link,
nav li a:visited {
    color: #e8e8e8;
}

nav li a:hover,
nav li a:focus {
    color: white;
    transform: scale(1.1);
}

nav ul li a:hover::after,
nav ul li a:focus::after,
.pw-nav-link-active::after {
    width: 100%;
}

/* *------------------------------ global styles ----------------------------- */

/* ----------------------------------- btn ---------------------------------- */

a.pw-btn-brand {
    background-color: transparent;
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    color: var(--prussian-blue);
    width: 200px;
    font-weight: 500;
    transition: color 500ms ease;
    transition: background-color 500ms ease;
}

a.pw-btn-brand:hover {
    background-color: var(--prussian-blue);
    border: 2px solid var(--prussian-blue);
    color: white;
}

a.pw-btn-dark {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 200px;
    font-weight: 500;
    transition: color 500ms ease;
    transition: background-color 500ms ease;
}

a.pw-btn-dark:hover {
    background-color: white;
    border: 2px solid white;
    color: var(--prussian-blue);
}

/* classe genérica para centralizar os itens */
.pw-center-itens {
    text-align: center;
}

.pw-h1-after {
    position: relative;
    margin-bottom: 1em;
}

.pw-h1-after::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5em;
    width: 100px;
    height: 3px;
}

.pw-h1-after-orange-red::after {
    background-color: var(--orange-red);
}

.pw-h1-after-prussian-blue::after {
    background-color: var(--prussian-blue);
}

.pw-h1-after-left::after {
    left: 0;
}

.pw-h1-after-center::after {
    left: calc(50% - 50px);
}
/* *---------------------------- page home styles ---------------------------- */

section img {
    margin: 0.5em 0.5em 1em 0.5em;
}

/* ------------------------------ section-brand ----------------------------- */

.home-section-brand {
    background-color: white;
    color: var(--gray-1);
}

/* ------------------------------ section-blue ------------------------------ */

.home-section-blue {
    background-color: var(--prussian-blue);
    color: white;
}

/* ---------------------------- section-formacao ---------------------------- */

.home-section-formacao {
    background-image: linear-gradient(to bottom, var(--gray-5) 10%, white);
}

.home-section-formacao img {
    max-height: 200px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

/* ---------------------------- section-projects ---------------------------- */

.home-section-projetos img {
    border-radius: 15px;
}

/* -------------------------- section-curiosidades -------------------------- */

.home-section-curiosidades img {
    border-radius: 15px;
}

.home-col-card-shadow {
    padding: 1em;
    margin: 1.5em 0.5em;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

/* ----------------------------- section-contato ---------------------------- */

.home-section-contato img {
    clip-path: polygon(0 17%, 100% 3%, 63% 100%, 0 95%);
}

.home-section-contato .section-contato-icon:link,
.home-section-contato .section-contato-icon:visited {
    color: white;
}

/* TODO fazer com after */
.home-section-contato .section-contato-icon:hover,
.home-section-contato .section-contato-icon:focus {
    color: var(--orange-red);
    text-decoration: none;
}

.home-section-contato i {
    font-size: 2em;
    margin-right: 0.5em;
}

.home-section-contato span {
margin-right: 1em;
}
